{{ form_errors(form) }}

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.code) }}
            {{ form_row(form.enabled) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.apiKey) }}
        </div>
    </div>
</div>
<div class="ui one column stackable grid">
    <div class="column">
        <h4 class="ui top attached large header">{{ form_label(form.senderData) }}</h4>
        <div class="ui attached segment">
            <div class="two fields">
                {{ form_row(form.senderData.firstName) }}
                {{ form_row(form.senderData.lastName) }}
            </div>
            <div class="field">
                {{ form_row(form.senderData.company) }}
            </div>
            <div class="field">
                {{ form_row(form.senderData.street) }}
            </div>
            <div class="field">
                {{ form_row(form.senderData.countryCode) }}
            </div>
            <div class="two fields">
                {{ form_row(form.senderData.provinceCode) }}
                {{ form_row(form.senderData.provinceName) }}
            </div>
            <div class="two fields">
                {{ form_row(form.senderData.city) }}
                {{ form_row(form.senderData.postcode) }}
            </div>
            <div class="field">
                {{ form_row(form.senderData.phoneNumber) }}
            </div>
        </div>
    </div>
</div>